<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mateu.dcc196_trabalho02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pergunta1Activity" />
        <activity android:name=".Pergunta2Activity" />
        <activity android:name=".Pergunta3Activity" />
        <activity android:name=".Pergunta4Activity" />
        <activity android:name=".Pergunta5Activity" />
        <activity android:name=".Pergunta6Activity" />
        <activity android:name=".Pergunta7Activity" />
        <activity android:name=".Pergunta8Activity" />
        <activity android:name=".ResultadoActivity" />
        <activity android:name=".CalculoResultadoActivity" />
        <activity android:name=".VideoActivity"></activity>
    </application>

</manifest>